PORT=5000
NODE_ENV=development
MONGO_URI=mongodb+srv://<username>:<password>@<cluster-url>/<database>
JWT_ACCESS_SECRET=replace-with-a-long-random-secret
JWT_ACCESS_EXPIRES_IN=1d
BCRYPT_SALT_ROUND=12
WEBHOOK_SECRET=e575bdbfc4f62e3380b3f8f8ec283cc00dd244145a05eedb2756ee4f4a2fef87
